[submodule "contrib/instrumentation"]
	path = contrib/instrumentation
	url = https://github.com/nahratzah/instrumentation.git
[submodule "contrib/monsoon_cache"]
	path = contrib/monsoon_cache
	url = https://github.com/nahratzah/monsoon_cache.git
[submodule "contrib/objpipe"]
	path = contrib/objpipe
	url = https://github.com/nahratzah/objpipe.git
[submodule "contrib/cycle_ptr"]
	path = contrib/cycle_ptr
	url = https://github.com/nahratzah/cycle_ptr.git
